@import "tailwindcss";
/* input[type="search"]::-webkit-search-cancel-button {
  display: none;
} */
@font-face {
  font-family: 'Black ops one';
  src: url('./assets/fonts/BlackOpsOne-Regular.ttf');
}
body{
  background-color: rgba(164, 163, 164, 0.333);
}
:root{
  --black-ops-one:'Black ops one',sans-serif
}
.black-ops-one{
  font-family: var(--black-ops-one);
}